a:link {
  color: #0000EE;
}

a:visited {
  color: white;
}


a:hover {
  color: hotpink;
}


a:active {
  color: blue;
}


.img{
  width:75px;
  height:auto;
}

.nav-list{
  display:flex;
  width:100%;
  font-size: 25px;
  justify-content: center;
  align-items: flex-start;
  

}

.search-bar{
  box-sizing: border-box;
  margin-top:150px;
  outline:none;
  transform: translate(-50%,-50%);
  background: rgba(0, 0, 0, 0.7);
  max-width: 800px;
  width: 100%;
  padding: 4px;
  border-radius: 5px;
  display:flex;
  justify-content: center;
}

.search-bar .input{
  width:100%;
  padding: 15px 20px;
  border:none;
  font-size: 30px;
  font-weight: bold;
  
}



.nav-list:first-child{
  margin-left:600px;
}

.table{
  width: auto;
  float: left;
}

.th{
  text-align: left;
}


#read-more-link{
  margin-top: 100px;
  font-size: 175%;
  display:inline-block;
  color:black;
}

.buttonM{
  margin-top:35px;
  width: 220px;
  height: 50px;
  border: solid;
  display:inline-block;
  text-align:center;
  font-weight: bold;
  font-size: 150%;
  margin: 5px;
  background-color:rgb(241, 179, 8);
}



#welcome{
  font-size: 350%;
}

#title{
  font-size: 450%;
  color: rgb(241, 179, 8);
}

#subtext {
  margin-top:25px;
  font-size:250%;
}

#browse {
  margin-top:18px;
  font-size: 275%;
}

#browse-text{
  margin-top:40px;
  font-size: 175%;
  text-align: center;
  
}

#enquiries{
  font-size:130%;
  text-align:center;
  font-weight: bolder;
}

.navbar {
  background-color: #494b4d; 
}

.navbar-brand{
  margin-left: 100%;
}

.collapse{
  display: flex;
  justify-content: center;
}

.child{
  width:700px;
  margin:20px 20px;
 
}

.citem{
 
  background-color:darkgray;
  height: 200px;
  width: 200px;
}

.contact-us-child{
  width:525px;
  margin:100px 20px;
  text-align:center;

}

.info-child{
  margin:2%;
  text-align:center;
  width:20%;
}

.info-child body{
  font-size:100%;
  text-align:center;
  font-weight: bold;
}

.container .image{
  max-width: 100%;
  flex: 150px;
}



.flex-container{
  display:flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-left {
  width: 50%;
  justify-content: space-evenly;
}

.flex-right {
  width: 50%;
  justify-content: space-evenly;
}

.fa.fa-edit {
  color: #18a2b9;
}

.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: pink;
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.login {
  margin-top: 5%;
  margin-Left: 30%;
  width: 40%;
  background-Color: rgba(0, 128, 0, 0.025);
  box-Shadow: 0 0 15px rgb(50, 50, 50);
  border-Radius:5%;
}

.box {
  padding: 5%;
  width: 70%;
  background-color: gainsboro;
  box-Shadow: 0 0 15px rgb(50, 50, 50);
  margin-Left: 15%;
}

.box:hover{
  cursor: -webkit-grab;
  background-color: grey;
}

.form{
  padding: 20px;
  background: gainsboro;
}



.book-container{

  height: 50%;
  width: 60%;
  margin-left: 20%;
  background-color: black;
  
}

.card-columns{
  /* margin-left: 15%; */
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%; 
  /* grid-template-columns: minmax(100px, 200px); */
  
 
  justify-content: center;
}

.card-columns > div{
  text-align: center;
}



#book-shop:hover {
  opacity: 0.5;
  background-color: #000;
  color: white;
}

#book-shop{
  margin-top: 1rem;
  display: flex;
 
  box-shadow: 10px 8px 16px 0 black;
}

#listing{
  width: 700px; 
  height:200px; 
  margin-top: 12px; 
  margin-left: 70px;
  border-color: black;
  box-shadow: 00px 8px 16px 0 rgb(189, 184, 184);
}
